.promo-card__wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    justify-content: flex-start;
    height: 100%;
}
.promo-card{
    height: 100%;
    border: 1px solid #7a83932b;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}
.promo-card__head{
    display: flex;
    flex-direction: column;
    background-color: #7a8393;
    color: #fff;
    padding: 1rem ;
}
.promo-card__title{

    text-transform: uppercase;
    margin: 0;
    text-align:center;
    font-size:1.1rem;
    @media (--viewport-small){
        text-align: left;
        font-size: 1.1rem;
    }
}
.promo-card__validity{
    font-size: .8rem;

}
.promo-card__published{
    font-size: .8rem;

}
.promo-card__panel-body{
    padding: .5rem 1rem .5rem 1rem;
    flex: 1;
}
.panel-list-panel-footer{
    padding: .5rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}