.navbar--theme-color{
    background-color: #49546b;

    & .active{
          color: #ffb739 !important;
      }
    & .nav-item{
          color: #8da4b5;
      }
    & .navbar-offcanvas{
        padding: 0;
      }
    & .navbar-offcanvas{
          overflow: auto;
        @media (--viewport-medium){
            overflow: inherit!important;
        }
      }

}