.btn-order{
    background-color: #dc334b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    width: 100%;
    transition: all .15s ease-in-out;
}
.btn-order:hover{
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(0,0,0,.4);
    color:yellow;
    transition: all .15s ease-in-out;
}