block variables
    -let img_src = 'assets/template-site/img/';

doctype html
html(lang="ru")
    block head
        head 
            meta(charset="utf-8")
            meta(content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
            link(rel="icon" href="favicon.ico" type="image/x-icon")
            block styles
                link(href="./assets/template-site/css/style.css" rel = "stylesheet")
            title test
            base(href="")
    body
