/*
* Hover effects
*/
.cart-hover {


    transition: all .15s ease-in-out;
}

.cart-hover:hover {

    color:#fff !important;
    transition: all .15s ease-in-out;

}

.back-pulse {
    transition: background-color 1000ms;
}
.back-pulse:hover {
    background-color: #d43023;
    -webkit-animation: back-pulse 1000ms infinite linear 500ms;
    animation: back-pulse 1000ms infinite linear 500ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
@keyframes back-pulse {
    0%,
    50%,
    100% {
        background-color: rgba(212, 92, 1, 0.75);
    }
    25%,
    75% {
        background-color: #d43023;
    }
}