.card-wrapper {
    height: 100%;
    padding-bottom: 30px;
}
.card-category:hover {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(0,0,0,.4);
    transition: all .5s ease;
}
.card-category {
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}
.card-link, .card-link:hover {
    color: #d2d5da;
}
.card-link {
    display: block;
}
.card-category__title {
    background-color: #414d64;
    display: flex;
    padding: .5rem;
    height: 100%;
    font-size: .9rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}