@import "../../../bower_components/normalize.css/normalize.css";
*,
*::before,
*::after {
    box-sizing: border-box !important;
}
@-ms-viewport {
    width: device-width;
}
/*
** My rules
*/

body {
    font-family: "Exo 2", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;

}
a, a:hover{
    text-decoration: none;
    color:inherit;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.collapse:not(.show) {
    display: none;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
img {
    border-style: none;
    vertical-align: middle;
}
.swiper-slide{

    height: auto!important;
}

.ui-menu {

    padding-top: 1.2rem !important;
    z-index: 1500 !important;
}
#msMiniCart {
    font-size: 1rem !important;
}

.h1, h1 {
    font-size: 1.7rem;
    text-align: center;

}

.h2, h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 1rem;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
table {
    border-collapse: collapse;
}

.swiper-button-prev{
    background-color: #fff;
    width: 37px !important;
    opacity: .4;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/></svg>") !important;
    left: 0px !important;
    right: auto;
    top: 20%!important;
    height: 55%!important;
    transition: all .15s ease-in-out;
    &:hover{
        opacity: .8;
         transition: all .15s ease-in-out;
     }
}
.swiper-button-next{
    background-color: #fff;
    width: 37px !important;
    opacity: .4;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/></svg>") !important;
    right: 0px !important;
    left: auto;
    top: 20%!important;
    height: 55%!important;
    transition: all .15s ease-in-out;
    &:hover{
         opacity: .8;
         transition: all .15s ease-in-out;
     }
    }