.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__LogoWrap{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;


    @media (--viewport-small){
        max-width: 160px;
    }
    @media (--viewport-medium){
        max-width: 250px;
    }

}
.header__logo {
     display: flex;
     align-items: center;
}

.header__img {

}

.header__SiteName {
    color: #1b2946;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;

    @media (--viewport-small) {
        font-size: 1.3rem;
    }

    @media (--viewport-medium) {
        font-size: 1.5rem;
    }

    @media (--viewport-large) {
        font-size: 2rem;
    }

    @media (--viewport-xlarge) {  }

}

.header__SiteSubname {
     color: #1b2946;
     line-height: .9;
     font-size: .8rem;

    @media (--viewport-small) {
        font-size: .9rem;
    }

    @media (--viewport-medium) {
        font-size: 1rem;
    }
}

.header__address {
     color: #6c7281;
     font-size: 1.5rem;
     font-weight: 400;
     display: none;
        &:before{
            font-family: "myiconfont";
            content: '\E002';
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            text-decoration: none;
            text-transform: none;
            color: #d63124;
            font-size: 1.5rem;
            position: relative;
            left: -7px;
         }
    @media (--viewport-small) {
        font-size: 1.1rem;
        max-width: 10em;
        display: inherit;
    }
    @media (--viewport-medium){
        font-size: 1.3rem;
        max-width: 10em;
        display: inherit;
    }
    @media (--viewport-large) {
        font-size: 1.5rem;
        max-width: inherit;
        display: inherit;
    }

}
.header__phones {
     display: none;
     align-items: flex-end;
     justify-content: center;
     flex-direction: column;

    @media (--viewport-small){
        display: inherit;
    }
}
.header__tel{
     color: #000;

     font-size: .8rem;
     font-weight: 600;
        &:before{
             font-family: "myiconfont";
             color: #01163c;
             content:'\E004';
             font-style: normal;
             font-variant: normal;
             font-weight: normal;
             text-decoration: none;
             text-transform: none;

             font-size: 1em;
             position: relative;
             left: -5px;
         }

        @media (--viewport-medium){
            font-size: 1.3rem;
        }
        @media (--viewport-large){
            font-size: 1.5rem;
        }

}
